<h1>Messages</h1>

<ul class="list-content">
    <li class="message-block row" ng-repeat="conversation in conversations">
        <div class="small-4 columns">
            <div class="avatar-thumb">
                <a href="#" class="avatar-thumb">
                    <img src="/images/yeoman.png" alt="">
                </a>
            </div>
            <div class="info">
                <a href="#/profile/{{conversation.companion}}" class="username">{{ conversation.companion }}</a>
            </div>
        </div>
        <div class="small-8 columns">
            <div class="content">{{ conversation.messages[0].content }}</div>
        </div>
    </li>
</ul>